node_modules/
dist/
build/
.env
.env.local
.DS_Store
.vscode/
/.idea/
client-package/
client-package.zip
site-build.zip
*.log
npm-debug.log*
.turbo/
.expo/
coverage/
*.tgz
/.cache/
/.parcel-cache/
/.pnp.cjs
/.pnp.loader.mjs